@import url("reset.css");

html, body
{
	background-color: #FFFFFF;
    height: 98%;
}

/* GENERAL */
span {
  
}

a {
    display: inline-block;
}
/* Intro Text */
.headIntroText span,  .mainIntroText span{
  display: block;
  text-align: center;
}
.headIntroText {
  margin-top:1em;
  margin-bottom:1em;
  text-transform: uppercase;
}
.imageIntro {
  text-align: center;
  cursor:pointer;
}
.imageIntro img {
  /*  width: 20%; 
 max-width: 60%;*/
 height: 450px;
}
.mainIntroText {
    
}